body{
  text-align:center;
  background: rgb(242,111,95);
background: linear-gradient(90deg, rgba(242,111,95,1) 11%, rgba(216,154,231,1) 30%, rgba(231,229,154,1) 60%, rgba(134,236,223,1) 82%, rgba(239,63,191,1) 97%);
}
img{
  border-radius:50%;
  width:200px;
  }
h1{
  text-shadow:2px 2px #F8BBDO;
  font-size:35px;
  font-weight:bold;
}
span{
  font-size:30px;
  }
section{
 font-family: 'Dancing Script', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Lobster', cursive;
font-family: 'Lobster Two', cursive; 
}
.line{
    height: 6px;
    width: 75px;
    background-color: black;
    margin:8px auto; 
}
p{
  font-size:18px;
}